Respondendo perguntas CEO I

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\lucas\Estudos\_CDS\repos\python_zero_ds\data\kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
# Mostra numero de linhas e colunas respectivamente
df.shape

(21613, 21)

In [4]:
# Mostra nomes colunas
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
df[['id', 'price']].sort_values('price')

               id      price
1149   3421079032    75000.0
15293    40000362    78000.0
465    8658300340    80000.0
16198  3028200080    81000.0
8274   3883800011    82000.0
...           ...        ...
1448   8907500070  5350000.0
4411   2470100110  5570000.0
9254   9208900037  6885000.0
3914   9808700762  7062500.0
7252   6762700020  7700000.0

[21613 rows x 2 columns]

# Perguntas CEO:
1. Quantas casas estÃ£o disponÃ­veis para compra?
2. Quantos atributos a casa possui?
3. Quais sÃ£o os atributos das casas?
4. Qual a casa mais cara?
5. Qual a casa com o maior nÃºmero de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possui 2 banheiros?
8. Qual o preÃ§o mÃ©dio das casas do conjunto de dados?
9. Qual o preÃ§o mÃ©dio das casas com 2 banheiros?
10. Qual o preÃ§o mÃ­nimo entre as casas com 3 quartos

## 1. Quantas casas estÃ£o disponÃ­veis para compra?

In [6]:
# Limpando o dataset, tirando duplicadas com id igual
df.drop_duplicates(subset=['id'], inplace=True, ignore_index=True)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21431,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21432,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21433,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21434,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21435,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

## 2. Quantos atributos a casa possui?

In [7]:
# ID e Date nÃ£o sÃ£o atributos da casa
len(df.drop(columns=['id', 'date']).columns)

19

## 3.Quais sÃ£o os atributos das casas?

In [8]:
# Como nÃ£o colocamos inplace=True, por default entra como False, criando uma copia e nao substituindo o original
df.drop(columns=['id', 'date']).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4.Qual a casa mais cara?

In [17]:
# A parte do reset_index Ã© para reconfigurar o index, baseado no sort_values
df[['id', 'price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'id']

6762700020

## 5. Qual a casa com o maior nÃºmero de quartos?

In [18]:
df[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0, 'id']

2402100895

## 6. Qual a soma total de quartos do conjunto de dados?

In [19]:
df['bedrooms'].sum()

72273

## 7. Quantas casas possui 2 banheiros?

In [22]:
len(df.loc[df['bathrooms'] == 2])

1913

## 8. Qual o preÃ§o mÃ©dio das casas do conjunto de dados?

In [24]:
# O numpy sÃ³ esta sendo usado para arredondar o valor
np.round(df['price'].mean(), 2)

540529.29

## 9. Qual o preÃ§o mÃ©dio das casas com 2 banheiros?

In [34]:
np.round(df[df['bathrooms'] == 2]['price'].mean(), 2)

457842.29

## 10. Qual o preÃ§o mÃ­nimo entre as casas com 3 quartos?

In [36]:
df[df['bedrooms'] == 3]['price'].min()

82000.0

## 11. Quantas casas possuem mais de 300mÂ² na sala de estar?

In [42]:
len(df[df['sqft_living'] > 3229.17]['id'])

2251

## 12. Quantas casas tem mais de 2 andares?

In [44]:
len(df[df['floors'] > 2]['id'])

780

In [62]:
# Podemos utilizar o mÃ©todo size ou shape para contar os valores filtrados tb
#siz multiplica linhas X colunas, e shape conta o numero de linhas
df[df['floors'] > 2]['id'].shape

(780,)

## 13. Quantas casas tem vista para o mar?

In [63]:
df[df['waterfront'] != 0]['id'].shape

(163,)

## 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [53]:
df[(df['waterfront'] != 0) & (df['bedrooms'] == 3)]['id'].shape

64

## 15. Das casas com mais de 300mÂ² de living, quantas tem mais de 2 banheiros

In [68]:
df[(df['sqft_living'] > 3229.17) & (df['bathrooms'] > 2)]['id'].shape

(2194,)